/*
723130: (don't include the '#')
{{Color_1_Shade}}: #{{Color_1_Shade}}; (goto http://www.color-hex.com/color/723130 ; use the second Shade -- just needs to be a little bit darker.)
b1b4b5: (don't include the '#')
{{Color_2_Tint}}: #{{Color_2_Tint}}; (goto http://www.color-hex.com/color/b1b4b5 ; find the color similar to e_e_e_) (Make sure this color is accessible by going to http://accessible-colors.com and checking Color_2_Tint on a background of both Color_1 and Color_2; select the suggested text color that works for both backgrounds)
{{Logo_URL}}: {{Logo_URL}} i.e. www.wingate.edu/wp-content/uploads/2015/06/logo.png
*/

html {
  background: #723130;
}

.splash {
  background-color: #723130;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #723130;
  height:10.5em;
}

.logo {
  background: url('//vdssupport.github.io/trinity/TrinityU_Square_Maroon200x200.png') top center no-repeat;
  display: inline-block;
  max-width: 400px !important;
  background-size: contain;
}

header.header-page {
  background-color:#b1b4b5;
}

.header-page .tabs li a {
  border-bottom-color:#b1b4b5;
  color: #{{Color_2_Tint}};
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #fff;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #723130;
}

.header-page .buttons button {
  background-color: #723130;
  color: #fff;
}

.header-page button {
  background-color: #b1b4b5;
  color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus 
{
  background-color: #{{Color_2_Tint}};
  color: #723130;

  /* Alternative if the above doesn't look so great.
  background-color: #b1b4b5;
  color: #fff;
   */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #723130;
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #b1b4b5;
}

button:hover,
button:focus {
    background-color: #{{Color_2_Tint}};
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #723130;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #{{Color_1_Shade}};
}

.user-info {
    color: #fff;
}

.user-info a {
    color: #{{Color_2_Tint}};
}

.user-info a:hover,
.user-info a:focus {
    color: #fff;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff;
}

.admin-links .fa {
    color: #723130; /*default #007bff*/
}

table th,
table td {
    background: #{{Color_2_Tint}};
}

.footer {
    background: #723130;	
}

/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server), 
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
